.navbar a.nav-link {
    color: black;
}

.navbar a.navbar-brand {
    color: black;
}

.navbar-toggler-icon {
    background-color: black;
}

.navbar a.nav-link:hover,
.navbar a.navbar-brand:hover {
    color: #2f00ff;
}